-# INITIALIZATION

-# URL

/ FOR NATIVE HTML DEVELOPMENT

- urlCSS = '../../Style/CSS/'
- urlJavaScript = '../../Java Script/Minimized/'
- urlResource = '../../Resource/'

/ FOR INTEGRATING WITH ASPX

/ FOR DEPLOYMENT

-#
	- urlCSS = '../../jqueryLibrary/Style/CSS/'
	- urlJavaScript = '../../jqueryLibrary/JavaScript/Minimized/'
	- urlResource = '../../jqueryLibrary/Resource/'

- urlCSSGeneralPrefix = 'bcalmpos'
- urlCSSSectionPrefix = 'productconfigurator'

-# CONTENT

- contentCompanyName = 'BCA Life'
- contentCompanyWebsite = 'http://www.bcalife.co.id'
- contentProductName = 'BLESS'
- contentDescription = 'BCA Life Electronic Submission.'
- contentCopyrightYear = '2016'

/ META DATA

%meta{ :charset => "utf-8" }
%meta{ :name => "application-name", :content => "#{contentCompanyName} - #{contentProductName}" }
%meta{ :name => "description", :content => "#{contentDescription}" }
%meta{ :name => "keywords", :content => "#{contentDescription}" }
%meta{ :name => "author", :content => "#{contentCompanyName}" }
%meta{ :name => "designer", :content => "Ibrahim Aziz" }
%meta{ :name => "copyright", :content => "Copyright #{contentCopyrightYear} #{contentCompanyName}" }
%meta{ :name => "dcterms.description", :content => "#{contentDescription}" }
%meta{ :name => "dcterms.creator", :content => "#{contentCompanyName}" }
%meta{ :name => "dcterms.rightsHolder", :content => "#{contentCompanyName}" }
%meta{ :name => "dcterms.rights", :content => "All rights reserved. No part of this document may be reproduced or transmitted in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior written permission from the Author, #{contentCompanyName}." }
%meta{ :name => "dcterms.dateCopyrighted", :content => "#{contentCopyrightYear}" }
%meta{ :content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport" }

/ FAVICON

/ %link{ :rel => "shortcut icon", :href => "#{urlResource}logo_favicon.ico" }
/ %link{ :rel => "shortcut icon", :href => "#{urlResource}logo_favicon.ico", :type => "image/x-icon" }
/ %link{ :rel => "icon", :href => "#{urlResource}logo_favicon.ico", :type => "image/x-icon" }

/ CSS

%link{ :id => "csslayout", :href => "#{urlCSS}#{urlCSSSectionPrefix}-layout-general.css", :rel => "stylesheet", :type => "text/css" }
%link{ :id => "cssfont", :href => "#{urlCSS}#{urlCSSSectionPrefix}-font-general.css", :rel => "stylesheet", :type => "text/css" }
%link{ :id => "cssinput", :href => "#{urlCSS}#{urlCSSSectionPrefix}-input-general.css", :rel => "stylesheet", :type => "text/css" }
%link{ :id => "csslink", :href => "#{urlCSS}#{urlCSSSectionPrefix}-link-general.css", :rel => "stylesheet", :type => "text/css" }
%link{ :id => "cssfontsize", :href => "#{urlCSS}#{urlCSSGeneralPrefix}-fontsize-medium.css", :rel => "stylesheet", :type => "text/css" }
%link{ :id => "cssfontfamily", :href => "#{urlCSS}#{urlCSSSectionPrefix}-fontfamily-bpreplay.css", :rel => "stylesheet", :type => "text/css" }
%link{ :id => "csstheme", :href => "#{urlCSS}#{urlCSSSectionPrefix}-theme-stanley-svg.css", :rel => "stylesheet", :type => "text/css" }
/ %link{ :id => "cssresponsive", :href => "#{urlCSS}#{urlCSSSectionPrefix}-responsive-general.css", :rel => "stylesheet", :type => "text/css" }

/ JAVA SCRIPT

/ %script{ :type => "text/javascript", :src => "#{urlJavaScript}jquery.mobile-1.4.5.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}jquery-3.1.1.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}jquery-ui-1.12.1.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}jquery-migrate-1.4.1.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}ibrahimaziz-general.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}ibrahimaziz-productconfigurator-constant.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}ibrahimaziz-productconfigurator-back.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}ibrahimaziz-formulaconfigurator.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}ibrahimaziz-constantconfigurator.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}ibrahimaziz-tableconfigurator.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}layout-si-unitlink.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}formula-si-unitlink.min.js" }
%script{ :type => "text/javascript", :src => "#{urlJavaScript}input-si-unitlink.min.js" }
